/* reset */
body, p, div, ul, li {
	margin: 0;
	padding: 0;
}

body {
	background: #f97a35;
	font-family: Helvetica, "Hiragino Sans GB", Tahoma, "Microsoft Yahei", Arial;
	font-size: 16px;
}

/* layout */
#mainContainer {
	width: 320px;
	margin: 0 auto;
	height: 800px;
}

/** header **/
.header {
	height: 160px;
	background: url(img/img_banner.png) no-repeat;
	background-size: 320px;
}

#activity_count {
	padding-top: 130px;
	text-align: center;
	font-size: 14px;
	color: white;
}

#activity_count span {
	border-radius: 3px;
	background-color: #f16026;
	padding: 3px 5px;
	line-height: 14px;
}

/** main **/
.main {
	width: 280px;
	margin: 10px auto 0 auto;
	height: 670px;	/** height = 60 + 200 * rowCount + 10 **/
	background-color: white;	
}

.main_row {
	width: 100%;
	height: 200px;
}

.main_share {
	position: relative;
	width: 160px;
	height: 40px;
	margin: 0 auto;
	padding-top: 15px;
	padding-bottom: 5px;
}

.share_botton {
	top: 15px;
	height: 40px;
	text-align: center;
	color: white;
	border-radius: 4px;
	line-height: 40px;
	background-color: #ff5471;
    background-image: -moz-linear-gradient(45deg,#fff 25%, transparent 25%, transparent 50%,#fff 50%,#fff 75%, transparent 75%, transparent);
    background-image: -webkit-gradient(linear,0 100%,100% 0,color-stop(25%,rgba(255,255,255,0.2)),color-stop(25%,transparent),color-stop(50%,transparent),color-stop(50%,rgba(255,255,255,0.2)),color-stop(75%,rgba(255,255,255,0.2)),color-stop(75%,transparent));
    background-size: 8px 8px;
}

.main_left {
	float: left;
	width: 50%;
	height: 200px;
}

.main_right {
	float: right;
	width: 50%;
	height: 200px;
}

.main_row .icon {
	margin: 15px 0;
}